#set( $H = '#' )
$H $present ($name)

$H$H Методы модуля
#foreach( $method in $methods)

$H$H$H $method.name

$method.description
#if (!$method.parameters.empty)

**Параметры метода**
#foreach( $parameter in $method.parameters)

* $parameter.name - $parameter.description
#end
#end
#end